<!--<div *ngFor="let item of itemService.$item | async">
    {{item.id}}

    {{item.name}}

    <div (click)="deleteItem(item)">DELETE</div>
</div>






<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<mat-checkbox>Toggle me!</mat-checkbox>

<mat-form-field>
  <mat-label>Datum auswählen</mat-label>
  <input matInput [matDatepicker]="picker" [min]="minDate" >
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>-->

<div>
  <h2>DATEN HINZUFÜGEN</h2>
  <div (click)="addDemoData()">ADD</div>
</div>

<div>
  <h2>DATEN LÖSCHEN</h2>
  <div (click)="deleteAll()">LÖSCHEN</div>
</div>

<div *ngIf=" itemService.itemToEdit && openModal">


  <input [(ngModel)]="itemService.itemToEdit.name">

  <input [(ngModel)]="itemService.itemToEdit.text">

  <div (click)="update(itemService.itemToEdit)">speichern</div>

  <div (click)="deleteItem(itemService.itemToEdit)">DELETE</div>
  
</div>

<table mat-table [dataSource]="datasource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let item">{{item.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let item">{{item.name}}</td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef>Text</th>
    <td mat-cell *matCellDef="let item">{{item.text}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <div (click)="deleteItem(item)">DELETE</div>
      <div (click)="openDialog(item)">EDIT</div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let item; columns: displayColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons="" [length]="datasource.data.length" [pageSize]="pageSize"  (page)="onPageChange($event)" [pageIndex]="currentPage">
  
</mat-paginator>